/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
:root {
  --title-color: #000;
  --text-color: #555555;
  --link-color: #007acc;
  --border: 1px solid #000;
  --border-radius: 10px;
  --background-color: #000;
  --second-background-color: #fff;
  --border-color: #555555;
  --btn-font-size: 1rem;

  /* dashboard */

  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--text-color);
}

/* GENERAL */
.flex-center {
  display: flex;
  justify-content: center;
}
.flex-space-around {
  display: flex;
  justify-content: space-around;
}
.flex-space-between {
  display: flex;
  justify-content: space-between;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.gap-2 {
  gap: 2rem;
}
.gap-5 {
  gap: 5rem;
}
/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 0.5rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* Cards */
.card {
  margin: 10px;
  background-color: var(--second-background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 378px;
}

.card-header img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card-body {
  align-items: flex-start;
  padding: 20px;
  min-height: 250px;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 1000;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}
.login-btn {
  border: 3px solid #000;
  border-radius: 10px;
  width: 6rem;
  text-align: center;
}
.login-btn a {
  text-underline-offset: 0;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 350px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* profile section*/
#profile {
  gap: 5rem;
  height: 80vh;
  padding-top: 10rem;
  position: relative;
}
.section__text {
  align-self: top;
}
.section__text__p1 {
  font-weight: 600;
  margin-bottom: 2rem;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.section__pic-container {
  margin-bottom: 2rem;
  display: flex;
  height: 400px;
  width: 400px;
}

.profile-social-media {
  align-items: center;
  height: 25rem;
}
.profile-social-media img {
  width: 2rem;
  cursor: pointer;
}
.experiance-text-container {
  margin-top: 2rem;
  gap: 2rem;
}
.text-experiance h1 {
  float: left;
  margin-right: 1rem;
}

/* About section */

#about {
  position: relative;
}
.about__header-title {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 3rem;
}
.section__container-text {
  gap: 5rem;
}
.about-description {
  width: 50%;
  padding-top: 2rem;
}
.section__about-container {
  width: 40%;
  gap: 0.5rem;
}
.section__about-projects {
  height: fit-content;
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about-title {
  font-size: 1.5rem;
  color: #000;
}
.about-link {
  color: var(--link-color);
  text-decoration: underline;
  font-size: 0.9rem;
}
.about-link:hover {
  text-underline-offset: 0;
}

/* Experience */
#experience {
  position: relative;
}
.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.article-container {
  text-align: initial;
}

article {
  width: 10rem;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
  width: 50px;
  height: 50px;
}

/* PROJECTS SECTION */

#projectssection {
  position: relative;
}
.project-img,
.blog-img {
  border-radius: var(--border-radius);
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: var(--title-color);
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  margin-bottom: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

/* blog */
#blog {
  position: relative;
}
.container {
  width: 100%;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.tag-teal {
  background-color: #47bcd4;
}
.tag-purple {
  background-color: #5e76bf;
}
.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}
.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-info h5 {
  margin: 0;
}
.user-info small {
  color: #545d7a;
}
.card-info-section {
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.like-comment {
  height: fit-content;
  width: 6rem;
}
.like-comment img {
  width: 15px;
  margin-right: 0.2rem;
}
.like-comment span {
  margin: 0 1rem 0 0;
}

.more-blogs-links {
  margin-top: 1rem;
  align-items: center;
}
.more-blogs-links a {
  font-size: 1rem;
  text-align: center;
}
.blog-link-detail:hover {
  text-decoration: none;
}
/* contact */
.contact-social-media,
.footer-link-container {
  border: 2px solid black;
  border-radius: 10px;
  width: 20rem;
  align-items: center;
}

.contact-social-media-items,
.footer-links-items {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.contact-social-media-items img {
  width: 3rem;
}
.contact-form,
.footer-form {
  width: 60%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 2rem 1rem;
}
.comment-title-text {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
  padding-bottom: 2rem;
}
.form-label {
  width: 100%;
  display: block;
  padding-bottom: 2rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}
#message {
  display: block;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: var(--border-radius);
  margin-bottom: 2rem;
  width: 80%;
}
#contactEmail {
  width: 80%;
  height: 2rem;
  border: none;
  border-bottom: 2px solid var(--black2);
  display: block;
  margin: 0 auto;
}
#contactEmail::placeholder {
  font-size: 1rem;
  color: #000;
}
#contactEmail:focus {
  outline: none;
}

.contact-form span {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.comment-btn-submit {
  border: var(--border-color);
  border-radius: var(--border-radius);
  width: 6rem;
  font-size: 1rem;
  padding: 0.3rem 0;
  font-weight: bold;
}
#contactError {
  display: none;
  color: var(--white);
  background-color: #8ffab1;
  padding: 0.7rem 0;
  text-align: center;
  font-weight: 600;
}

/* FOOTER */
footer {
  background-color: #000;
  margin-top: 4rem;
  padding: 2rem 0;
}
.footer__text__p1 {
  color: #fff;
  margin-bottom: 2rem;
}
.footer-form,
.footer-link-container {
  border: 2px solid #fff;
}

.footer-links-items a {
  color: #fff;
}
.footer-form p {
  margin-bottom: 1rem;
  color: #fff;
}

.footer-form form {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 2rem;
}
.footer-form input {
  background-color: #000;
  display: block;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
}
.footer-form input:focus {
  outline: none;
}
.footer-form input::placeholder {
  color: #fff;
}
.copylight {
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}

/* login section */
#login-body {
  height: 100vh;
  overflow: hidden;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.center h1 {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form {
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.5s;
}
.txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #000;
  transition: 0.5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -5px;
  color: #000;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}
.pass {
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover {
  text-decoration: underline;
}
.login-sub-btn {
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #000;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.login-sub-btn:hover {
  border-color: #2691d9;
  transition: 0.5s;
}
.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a {
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover {
  text-decoration: underline;
}
.error {
  color: red;
}

/* Blogs-list page */
#blogs_list {
  padding-top: 17vh;
}
.search-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box form {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 1px solid #555555;
  border-radius: 5px;
}
.search-input {
  border: none;
  height: 100%;
  font-size: 1.9rem;
}
.search-icon {
  width: 30px;
}
.ql-tooltip {
  display: none !important;
}
